# ==========================
# Computer Vision
# ==========================
opencv-python-headless
mediapipe
Pillow

# ==========================
# Numerical Computing
# ==========================
numpy
pandas

# ==========================
# Machine Learning
# ==========================
scikit-learn
joblib

# ==========================
# Deep Learning
# ==========================
tensorflow

# ==========================
# Visualization
# ==========================
matplotlib

# ==========================
# Streamlit App
# ==========================
streamlit

# ==========================
# Utilities
# ==========================
pyautogui
tqdm

# ==========================
# Optional
# ==========================
protobuf
