# ==========================
# Computer Vision
# ==========================
opencv-python-headless
mediapipe==0.10.14
Pillow
av
# ==========================
# Numerical Computing
# ==========================
numpy
pandas

# ==========================
# Machine Learning
# ==========================
scikit-learn
joblib

# ==========================
# Deep Learning
# ==========================
tensorflow

# ==========================
# Visualization
# ==========================
matplotlib

# ==========================
# Streamlit App
# ==========================
streamlit
streamlit_webrtc
# ==========================
# Utilities
# ==========================
pyautogui
tqdm

# ==========================
# Optional
# ==========================
protobuf
